@model Cyber_Kitchen.Models.CatererInfoModel
@using Cyber_Kitchen.Models
@{
    ViewBag.Title = "CreateCatererInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="alert-info">CHOOSE YOUR CHOICE TO SUIT THE BEST CATERER</h1>
<form action="CreateCatererInfo" method="Post" id="form_sample_1" class="form-horizontal" novalidate="novalidate">

        <table id="catererInfo class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Check all Caterers</th>
                    <th class="col-md-offset-1">Taste</th>
                    <th>Quality</th>
                    <th>Quantity</th>
                    <th>Customer Service</th>
                    <th>TimeLiness</th>
                </tr>
            </thead>
            <tbody>
                @{var model = (RestaurantModel[])ViewBag.restaurants;}

                                @foreach (var catererinfo in model)
                                {
                                    <tr>
                                        <td>
                                            <div class="col-md-12">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="check_@catererinfo.RestId" name="caterIds" />
                                                    <label for="Check_@catererinfo.RestId">@catererinfo.RestName </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <label class="control-label col-md-12">
                                                    <select id="taste" name="Taste" class="form-control">
                                                        <option value="">select</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <select id="quality" name="Quality" class="form-control">
                                                <option value="">select</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="quantity" name="Quantity"class="form-control">
                                                <option value="">select</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div>

                                                <select id="timeliness" name="TimeLiness"class="form-control">
                                                    <option value="">select</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <select id="customerServices" name="CustomerServices"class="form-control">
                                                    <option value="">select</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                               }

                         </tbody>  
                    </table>
   
              <div class="form-actions">
        <div class="row">
            <div class="offset-md-3 col-md-6 pull-right">
                <button type="submit" class="btn btn-info" id="submitData">Save</button>
                @*<button type="button" class="btn btn-danger">Cancel</button>*@

            </div>
            <div class="col-md-1">
                <a href="@Url.Action("Index","CatererInfo", new { area = ""})" class="btn btn-chatpane">Back To List(s)</a>
            </div>
        </div>
    </div>
</form>
    