@model Cyber_Kitchen.Models.VoterModel

@{
    ViewBag.Title = "Upload Voter Names";

}

<div class="page-content-wrapper">
    @*@Html.Partial("Message")*@
        @*<div class="page-content" style="min-height:1603px">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class="pull-left">
                        <div class="page-title">Upload Voter Names</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li>*@
                            @*<i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a class="parent-item" href="#">Student</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>*@
                        @*<li class="active">Upload Voter Names</li>
                    </ol>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header></header>
                            <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
                                @*<i class="material-icons">more_vert</i>*@
                            </button>

                        </div>
    <div class="card-body" id="bar-parent">
        <form action="UploadVoters" method="Post" id="form_sample_1" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-body"> 
                <div class="form-group row">
                    @*<label class="control-label col-md-3">
                        Voters Name
                        <span class="required" aria-required="true"> * </span>
                    </label>*@
                    @*<div class="col-md-5">

                        @Html.DropDownListFor(m => m.VoterId, (IEnumerable<SelectListItem>)ViewBag.voters, " select your name", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.VoterId, "", new { @class = "text-danger" })
                    </div>*@
                </div>


                <div class="form-actions">
                    <div class="row">
                        <div class="offset-md-3 col-md-3">
                            <input type="file" accept="application/vnd.ms-excel" name="file" id="file" />
                            <button type="submit" class="btn btn-info" id="submitData">Upload</button>
                        </div>
                        <div class="col-md-1">
                            <a href="/DataUploadTemplates/VoterNamesample.xlsx" download="">Download Template</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
            </div>
        </div>
    @*</div>*@